# Torch 
torch==2.2.2
torchvision==0.17.2

# Diffusion stack 
diffusers==0.27.2
transformers==4.39.3
huggingface_hub==0.25.2
accelerate==0.28.0
safetensors==0.4.5
sentencepiece==0.2.0

# Face swap 
insightface==0.7.3
onnxruntime==1.17.1

# Utils
opencv-python-headless==4.10.0.84
Pillow==10.4.0
numpy==1.26.4
requests==2.32.3
replicate